<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BartlettCareersAdmin__Ionic5</title>
    <link rel="icon" type="image/png" href="../img/icons/favicon.png" />
    <link rel="stylesheet" href="../css/style.min.css" />
  </head>
  <body>
    <section class="section-login">
      <div class="login">
        <div class="login_left">
          <div class="login__head">
            <img
              src="../img/icons/logo.png"
              alt="BartlettCareersAdmin"
              class="login__logo"
            />
          </div>

          <div class="login__data">
            <h1 class="login__title">
              Welcome to <br />
              Bartlett Careers <br />
              Administration Console
            </h1>
            <ul class="login__list">
              <li class="login__list-item">
                <div class="login__list-item-icon">
                  <span class="square-border"></span>
                  <span class="small-square"></span>
                </div>
                Find out what you like doing best, and get someone to pay you
                for doing it.
              </li>

              <li class="login__list-item">
                <div class="login__list-item-icon">
                  <span class="square-border"></span>
                  <span class="small-square"></span>
                </div>
                The future depends on what you do today.
              </li>
            </ul>
          </div>

          <div class="login__footer">
            <p>&copy; 2022 Property of Bartlett Group. All Rights Reserved.</p>
          </div>
        </div>
        <div class="login_right">
          <form
            autocomplete="off"
            action="/interaction/login"
            method="post"
            class="login__form"
          >
            <h3 class="login__form-title">Authorize</h3>

            <form
              autocomplete="off"
              action="/interaction/<%= uid %>/confirm"
              method="post"
            >
              <button autofocus type="submit" class="login__form-btn">
                Continue
              </button>
            </form>
          </form>
        </div>
      </div>
    </section>
    <script src="../js/validation.js"></script>
  </body>
</html>
