<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BartlettCareersAdmin__Ionic5</title>
    <link rel="icon" type="image/png" href="img/icons/favicon.png" />
    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <section class="section-login">
      <div class="login">
        <div class="login_left">
          <div class="login__head">
            <img
              src="img/icons/logo.png"
              alt="BartlettCareersAdmin"
              class="login__logo"
            />
          </div>

          <div class="login__data">
            <h1 class="login__title">
              Welcome to <br />
              Bartlett Careers <br />
              Administration Console
            </h1>
            <ul class="login__list">
              <li class="login__list-item">
                <div class="login__list-item-icon">
                  <span class="square-border"></span>
                  <span class="small-square"></span>
                </div>
                Find out what you like doing best, and get someone to pay you
                for doing it.
              </li>

              <li class="login__list-item">
                <div class="login__list-item-icon">
                  <span class="square-border"></span>
                  <span class="small-square"></span>
                </div>
                The future depends on what you do today.
              </li>
            </ul>
          </div>

          <div class="login__footer">
            <p>&copy; 2022 Property of Bartlett Group. All Rights Reserved.</p>
          </div>
        </div>
        <div class="login_right">
          <form
            autocomplete="off"
            action="/interaction/<%= uid %>/login"
            method="post"
            class="login__form"
          >
            <h3 class="login__form-title">SSO Sign-in</h3>

            <% if (flash) { %>
            <span class="login__error-form"><%= flash %></span>
            <% } %>

            <label class="login__form-field">
              <span class="login__form-label">Enter username</span>
              <input
                required
                type="email"
                name="email"
                class="login__form-input login__form-input_mail"
                onkeydown="validateEmailInput()"
              />
              <span class="login__error login__error-email"></span>
            </label>

            <label class="login__form-field">
              <span class="login__form-label">Enter password</span>
              <input
                required
                type="password"
                name="password"
                class="login__form-input login__form-input_password"
              />
            </label>

            <div class="login__form-btn-group">
              <button type="submit" id="submit" class="login__form-btn">
                Sign-in
              </button>

              <a
                class="login__form-btn-clear"
                id="cancel"
                href="/interaction/<%= uid %>/abort"
                >Cancel</a
              >
            </div>
          </form>
        </div>
      </div>
    </section>
    <script src="js/validation.js"></script>
  </body>
</html>
